<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>

    <h1><td th:text="${connectionAddress ?: 'Connection address unknown'}"></td></h1>

    <table>
        <thead>
            <th>City name</th>
            <th>Population count</th>
        </thead>
        <tbody>
            <tr th:each="bestCities : ${cities}">
                <td th:text="${bestCities.cityName}"></td>
                <td th:text="${bestCities.population}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>